{% extends 'base.html.twig' %}

{% block title %}Calculator{% endblock %}

{% block body %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

    .calculator {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        font-family: 'Ubuntu', sans-serif;
        font-size: 40px;
        width: 450px;
        margin: 0px auto;
    }

    .display {
        grid-column: 1/5;
        background-color: #333;
        color:#fff;
        padding: 0px 5px;
    }

    .zero {
        grid-column: 1/3;
    }

    .btn {
        background-color: #eee;
        border: 1px solid #999;
        text-align: center;
        cursor: pointer;
    }

    .operator {
        background-color: orange;
        color: #fff;
    }
</style>

<div class="example-wrapper">
    
    <div id="app">
        <App />
    </div>
</div>
{% endblock %}
